<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.quickguess">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuickGuess">
        <activity
            android:name=".forgotpassword"
            android:parentActivityName=".loginpage"
            android:exported="true" />
        <activity
            android:name=".result"
            android:exported="true" />
        <activity
            android:name=".multi"
            android:exported="true" />
        <activity
            android:name=".sub"
            android:exported="true" />
        <activity
            android:name=".adds"
            android:exported="true" />
        <activity
            android:name=".signup"
            android:parentActivityName=".loginpage"
            android:exported="true" />
        <activity
            android:name=".loginpage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            tools:ignore="DuplicateActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category." />
            </intent-filter>
        </activity>
    </application>

</manifest>